.grid__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px 20px;
  position: relative;
}

.grid__card {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  width: 100%;
  position: relative;
}

.grid__card-delete {
  background: transparent url("../images/trash-icon.png") no-repeat;
  width: 18px;
  height: 19px;
  border: none;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
}

.grid__card-delete:hover {
  opacity: 60%;
}

.grid__card-image {
  max-width: 282px;
  height: 282px;
  width: 100%;
  border-radius: 10px 10px 0px 10px;
}

.grid__card-text {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 21px 31px 15px;
  margin: 0;
  height: 30px;
  border-radius: 0 0 10px 10px;
}

.grid__card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
}

.grid__button-heart {
  border: none;
  width: 21px;
  height: 19px;
  background-size: contain;
}

.grid__button-heart:hover {
  opacity: 50%;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

@media screen and (max-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px 20px;
    max-width: 580px;
    margin: 0 auto;
  }
}

.grid__card {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  width: 100%;
}

@media screen and (max-width: 720px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
