.grid {
  display: grid;
  grid-template-areas:
    "card card card"
    "card card card";
}

.grid__card {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  max-width: 282px;
  margin: 10px 8px;
  border-radius: 3%;
}

.grid__card-image {
  max-width: 282px;
  width: 100%;
}

.grid__card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 246px;
  margin: 25px 15px 31px 21px;
}

.grid__card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
}

.grid__button-heart {
  border: none;
  background: transparent url("../images/heart_icon.png") center no-repeat;
  border: none;
  width: 21px;
  height: 19px;
}

.grid__button-heart:hover {
  opacity: 50%;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

@media screen and (max-width: 720px) {
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .grid__card {
  }

  .grid__card-image {
  }

  .grid__card-text {
  }

  .grid__card-title {
  }

  .grid__button-heart {
  }
}
