body {
  background-color: #000;
}

.page {
  max-width: 1280px;
  color: #fff;
  font-family: Inter;
  margin: 0 auto;
}

.page__container {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
    padding: 0 90px 0 90px;
  }

  .page__container {
    max-width: 800px;
  }
}

@media screen and (max-width: 720px) {
  .page {
    max-width: 320px;
    padding: 0 16px 0 16px;
  }

  .page__container {
    max-width: 282px;
  }
}
