.profile {
  margin-bottom: 50px;
  display: flex;
}

.profile__card-image {
  max-width: 168px;
  padding: 4px 26px 4px 22px;
}

.profile__image {
  width: 100%;
  max-width: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile__card {
  margin-top: 22px;

  display: grid;
  grid-template-areas:
    "title button"
    "subtitle span";
}

.profile__title {
  margin: 0;
  max-width: 373px;
  /* margin: 22px 18px 16px 0; */
  font-size: 42px;
  font-weight: 500;
}

.profile__button-edit {
  width: 24px;
  height: 24px;
  background: transparent url("../images/edit_button.png") center no-repeat;
  border: none;
  margin-top: 15px;
  padding-left: 18px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.profile__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

.profile__button-add {
  background: transparent url("../images/add_button.png") center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: 165px;
  margin-top: 35px;
  border: 2px solid rgba(255, 255, 255, 1);
}

@media screen and (max-width: 720px) {
  .profile {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
  }

  .profile__image {
    margin: 0 22px;
    display: flex;
    justify-content: center;
  }

  .profile__card {
    margin-top: 30px;
    margin-inline: 19px;
    max-width: 282px;
  }

  .profile__title {
    font-size: 22px;
    text-align: center;
  }

  .profile__button-edit {
    width: 18px;
    height: 18px;
  }

  .profile__subtitle {
    font-size: 14px;
    text-align: center;
  }

  .profile__button-add {
    width: 100%;
    max-width: 282px;
    height: 50px;
    margin: 36px auto 0;
  }
}
