@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/nav.css);
@import url(../blocks/profile.css);
@import url(../blocks/popup.css);
@import url(../blocks/grid.css);
@import url(../blocks/footer.css);
